/* Header */
header {
    background-color: rgb(39, 39, 41)
}
div.title {
    
    color: white;
    text-align: center;
}
div.title h1 {
    padding: 10px;
}

/* Main content */
main.dashboard {
    background-color: rgb(247, 247, 247);
}

/* Left Sidebar */
div.recent-searches h2 {
    font-size: 1.2rem;
}

div.cityList {
    margin-top: 20px;
}

div.city {
    padding: 10px;
}

div.cityName {
    background-color: #808080;
    color: black;   
}
/* Weather Data */

div.currentWeather {
    margin-bottom: 20px;
    background-color: #808080;

}

div.currentWeather h2,
div.currentWeather h3 {
    font-size: 1.3rem;
    margin: 10px;
}

span#uv-index {
    color: white;
}

div.fiveDay h2 {
    font-size: 1.2rem;
}

div.fiveDay p {
    font-size: .8rem;
}

div.fiveDay p.card-title {
    font-weight: bold;
    color: white;
}

.card {
    background-color: blue;
}

.text-muted {
    color: white !important;
}